body{
    font-family: "Plus Jakarta Sans",sans-serif !important;
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
}
.container{
    flex:1 !important;
}
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.navbar{
    height:5rem !important;
    background-color: white;
}
.fa-compass{
    color:#fe424d !important;
    font-size: 2rem;;
}
.nav-link{
    color:#222222 !important
}
.fa-info-links a{
    text-decoration:none !important;
    color:#222222;
}
.fa-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.fa-info-links,.f-info-socials,.f-info-brand{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.listing-card{
    border:none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width:100%;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}
.btns{
    display: flex !important;
}
.show-img{
    height:30vh !important
}
.show-cards{
    padding-left: 0;
    padding-right: 0;
}
